* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background: linear-gradient(to right, #ffefba, #ffffff);

}

.main-layout {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header button {
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 12px;
    background-color: rgba(18, 51, 66, 0.822);
    font-weight: bold;
    color: white;
    margin: inline start 10px;
    transition: background-color .2s;
}

header button:hover {
    background-color: rgba(31, 72, 92, 0.822);

}

header .btn-search-loc {
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 12px;
}

.main-container {
    width: 100%;
    gap:20px;
}
.aside { 
    flex-direction: column;
    gap:20px;
    width:400px;
}
.weather-container { 
    height:380px;
    outline:2px solid rgba(128, 128, 128, 0.164);
    background-color:rgba(255, 255, 255, 0.226);
    flex-direction: column;
    align-items: center;

}
.weather-container h3 {
    font-size:2rem;
    order:2;
    margin:0;
    flex-grow:1;
}
.weather-container h4 {
    font-size:2.5rem;
    order:1;
    margin-bottom:20px;
}
.weather-container h5 {
    font-size:2rem;
    order:3;
    justify-self: flex-end;

   
}
.weather-container h5::after {
    content: " °C"
}
.cards-container {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;; 
    background-color:rgba(255, 255, 255, 0.349);
    padding:10px 20px;
    height:400px;
    overflow-y: scroll;
    outline:3px solid rgba(128, 128, 128, 0.164);
}
body > h2 { 
    position:relative;
    top:-20px;
}
.card {
    
    display: flex;
    width:300px;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(34, 67, 129);
    margin-bottom:10px;
    padding: 10px 20px;
    color:white;
    border-radius: 12px;
}
.card h3 { 
    flex-grow:1;
}
.card button {
    height:2rem;
    margin-left:10px;
    background-color: rgba(255, 255, 255, 0.164);
    color:white;
    border:1px solid white;
    border-radius: 5px;
}
.map { 
    height: 750px !important;
}

.flex {
    display: flex;
}